@charset "utf-8"

// Import bulma files here. More info: https://bulma.io/documentation/overview/modular/

@import "../../vendor/bulma/sass/utilities/initial-variables"

// Set variables here. More info: https://bulma.io/documentation/overview/customize/

@import "../../vendor/bulma/bulma"

// Custom site styles go here

body .content
  margin-top: 3em

.navbar
  font-size: 1.5rem
  .navbar-item img
    height: 4em
.navbar-item img
  max-height: 4rem

#navbarMenu
  margin-right: 3rem
  a.navbar-item.button
    margin-top: 1.5rem

// GitLab Static Site Editor

.edit-page
  position: fixed
  padding-top: 20px
  padding-bottom: 20px
  background: #6b4fbb
  bottom: 0px
  width: 150px
  border-radius: 25px 25px 0px 0px
  text-align: center

  a#edit-page-link
      color: #fff
      text-decoration: none

.new-page
  position: fixed
  padding-top: 20px
  padding-bottom: 20px
  background: #6b4fbb
  bottom: 0px
  right: 0px
  width: 150px
  border-radius: 25px 25px 0px 0px
  text-align: center

  a#new-page-link
      color: #fff
      text-decoration: none
