!!!
%html.has-navbar-fixed-top{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
    %title= current_page.data.title or 'towardentropy.com'
    = stylesheet_link_tag :site
    = javascript_include_tag :site
  %body
    .content
      = partial :navbar
      .container
        .columns
          .column
          %div{:class => [current_page.data.main_col_width || 'is-half', 'column']}
            = yield
          .column
    - if ENV['STATIC_SITE_EDITOR']
      .edit-page
        = link_to('Edit this page', edit_page_url(data.config.repository, current_page.file_descriptor.relative_path), id: 'edit-page-link')
      .new-page
        = link_to('New page', new_page_url(data.config.repository, current_page.url), id: 'new-page-link')
    %script{:src => "../js/bulma.js"}
