%nav.navbar.is-fixed-top
  .navbar-brand
    %a.navbar-item{:href => ENV["HTTP_PREFIX"] || '../'}
      = image_tag 'home-icon.svg', alt: 'Home'
    %span.navbar-burger.burger{"data-target" => "navbarMenu"}
      %span
      %span
      %span
  #navbarMenu.navbar-menu
    .navbar-start
      = link_to 'Society', 'society', class: ['navbar-item', current_page.page_id == 'society' ? 'is-active' : nil].compact.join(' ')
      = link_to 'Climate', 'climate', class: ['navbar-item', current_page.page_id == 'climate' ? 'is-active' : nil].compact.join(' ')

:javascript
  document.addEventListener('DOMContentLoaded', function () {

    // Get all "navbar-burger" elements
    var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {

      // Add a click event on each of them
      $navbarBurgers.forEach(function ($el) {
        $el.addEventListener('click', function () {

          // Get the target from the "data-target" attribute
          var target = $el.dataset.target;
          var $target = document.getElementById(target);

          // Toggle the class on both the "navbar-burger" and the "navbar-menu"
          $el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
          var $navTarget = document.getElementById('navbar');
          $navTarget.classList.toggle('is-scrollable');

        });
      });
    }

  });
